In [1]:
import pandas as pd
import json
import math
import sqlite3
import datetime
year = 2025
pd.set_option('display.max_columns', None)
cnx = sqlite3.connect('results.db')

## Janowiec Wielkopolski

In [2]:
results = []
with open('janowiec-wielkopolski.txt') as f:
    for line in f.readlines():
        parts = line.split('\t')
        results.append([parts[5] + ' ' + parts[7], parts[9], (parts[15] or parts[14])[:1], (parts[19] or parts[18])[:3], parts[11] or None, int(next(p for p in parts if len(p.strip()) == 4 and p[:2] in {'19', '20'})), parts[-1].strip() or parts[-2].strip()])

janowiec = pd.DataFrame(results, columns=[
    'name',
    'city',
    'gender',
    'category',
    'team',
    'year_of_birth',
    'result',
])
assert not any(janowiec['name'].duplicated())
# sorted(janowiec[janowiec['team'].notnull()]['team'].unique())
janowiec.loc[janowiec['team'] == 'TRACK GANG', 'team'] = 'TRACK GANG TORUŃ'
janowiec.loc[janowiec['team'] == 'WATAHA ŁĄCZY NAS BIEGANIE', 'team'] = 'WATAHA - ŁĄCZY NAS BIEGANIE'
janowiec.loc[janowiec['team'] == 'EKO- OPAŁ PŁONNE', 'team'] = 'EKO-OPAŁ PŁONNE'
janowiec.loc[janowiec['name'] == 'KRIGER- PRZYBYLSKA ANNA', 'name'] = 'KRIGER-PRZYBYLSKA ANNA'
janowiec.loc[janowiec['name'] == 'WISNIEWSKI DAMIAN', 'name'] = 'WIŚNIEWSKI DAMIAN'

janowiec

,name,city,gender,category,team,year_of_birth,result
0,ABRAMOWSKI DAMIAN,ŻNIN,M,M30,TT SODA,1991,00:37:45
1,ADAMSKA IZABELA,JANOWIEC WIELKOPOLSKI,K,K40,None,1985,00:47:33
2,ADAMSKA ANNA,KŁECKO,K,K40,LECHITA BIEGA KŁECKO,1985,00:57:09
3,ADAMSKI ADAM,ŻNIN,M,M30,None,1986,00:47:48
4,ANGIEL WŁADYSŁAW,BYDGOSZCZ,M,M80,None,1937,01:40:32
...,...,...,...,...,...,...,...
267,ZMUDZIŃSKA JOANNA,PIECHCIN,K,K40,None,1983,00:45:37
268,ŚWIĘCICKI ANDRZEJ,BYDGOSZCZ,M,M50,BYDGOSKIE ŻÓŁWIE,1973,00:50:43
269,ŁASIŃSKI DARIUSZ,KOWALEWO,M,M30,None,1991,00:44:20
270,ŻUCHOWSKI JÓZEF,PŁONNE,M,M50,EKO-OPAŁ PŁONNE,1971,00:41:23
271,ŻYŁKOWSKA KRYSTYNA,TORUŃ,K,K60,PARKRUN TORUŃ,1960,00:54:14

## Fabianki

In [3]:
fabianki = pd.read_csv('fabianki.txt', sep='\t', names=['c0', 'c1', 'name', 'gender', 'c2', 'c3', 'category', 'c5', 'team', 'c6', 'c7', 'c8', 'c9', 'result', 'c11'])
fabianki = fabianki[['name', 'gender', 'category', 'team', 'result']]
fabianki['name'] = fabianki['name'].str.upper()
fabianki['team'] = fabianki['team'].str.upper()
fabianki = fabianki[fabianki['result'].notnull()]
fabianki['category'] = fabianki['category'].str.slice(0, 3)

fabianki.loc[fabianki['team'] == 'PAŁUKI RUNNIG TEAM', 'team'] = 'PAŁUKI RUNNING TEAM'
fabianki.loc[fabianki['team'] == 'T G SOKÓŁ GNIEWKOWO', 'team'] = 'TG SOKÓŁ GNIEWKOWO'
fabianki.loc[fabianki['team'] == 'T.G.SOKÓŁ GNIEWKOWO', 'team'] = 'TG SOKÓŁ GNIEWKOWO'
fabianki.loc[fabianki['team'] == 'WKB MARATONCZYK WLOCLAWEK', 'team'] = 'WKB MARATOŃCZYK WŁOCŁAWEK'
fabianki.loc[fabianki['team'] == 'WKB MARATONCZYK WŁOCŁAWEK', 'team'] = 'WKB MARATOŃCZYK WŁOCŁAWEK'
fabianki.loc[fabianki['name'] == 'BLASZCZAK STANISLAW', 'name'] = 'BŁASZCZAK STANISŁAW'
fabianki.loc[fabianki['name'] == 'WŁADYSŁAW ANGIEL', 'name'] = 'ANGIEL WŁADYSŁAW'

any(fabianki['name'].duplicated())

fabianki

                   name gender category                     team    result
0      KLEDZIK ZBIGNIEW      M      M30      PAŁUKI RUNNING TEAM  00:32:21
1    TOMASZEWSKI MIŁOSZ      M      M30             GKS FABIANKI  00:33:05
2    TOMASZEWSKI MACIEJ      M      M30              TASMAN TEAM  00:33:46
3       KUNECKI DARIUSZ      M      M40      KUNA TEAM WŁOCŁAWEK  00:34:42
4       SZTOLCMAN PIOTR      M      M30             GKS FABIANKI  00:34:55
..                  ...    ...      ...                      ...       ...
161       GLAZIK RENATA      K      K50                 FABIANKI  01:18:26
162     WITKOWSKA EDYTA      K      K50                 FABIANKI  01:18:32
163     WITKOWSKA JULIA      K      K16                 FABIANKI  01:18:33
164     ANDELBRAT BEATA      K      K50                GRUDZIADZ  01:18:33
165    ANGIEL WŁADYSŁAW      M      M80  TKKF KOLEJARZ BYDGOSZCZ  01:33:00

[166 rows x 5 columns]

## Radziejów

In [4]:
results = []
with open('radziejow.json') as f:
    data = json.load(f)
    for row in data['data']:
        # for idx, f in enumerate(row):
        #     print(idx, f)
        # xxx
        if len(row) != 19:
            continue
        if row[14] == 'DNS':
            continue
        results.append([
            row[3].upper(),
            row[8].upper(),
            row[11][:1],
            row[7].upper() if row[7] else None,
            row[4],
            row[12].zfill(8),
        ])

radziejow = pd.DataFrame(results, columns=[
    'name',
    'city',
    'gender',
    'team',
    'year_of_birth',
    'result_radziejow',
])

fixes = [
    ('team', 'SOLTYS', 'SOŁTYS SUCHARZEWO'),
    ('team', 'WATAHA ŁĄCZY NAS BIEGANIE', 'WATAHA - ŁĄCZY NAS BIEGANIE'),
    ('city', 'WŁOCŁAWK', 'WŁOCŁAWEK'),
    ('name', 'GOLEBIEWSKI MICHAL', 'GOŁĘBIEWSKI MICHAŁ'),
    ('name', 'HUSSEIN ABDALLAH', 'HUSSEIN ABDALLA'),
    ('name', 'DLONIAK EDMUND', 'DŁONIAK EDMUND'),
    ('name', 'ZIÓŁKOWSKI MIECZYSLAW', 'ZIÓŁKOWSKI MIECZYSŁAW'),
]
for field, from_, to_ in fixes:
    radziejow.loc[radziejow[field] == from_, field] = to_

radziejow

,name,city,gender,team,year_of_birth,result_radziejow
0,RATAJCZYK PRZEMYSŁAW,BYDGOSZCZ,M,TKKF KOLEJARZ BYDGOSZCZ,1993,00:32:48
1,KLEDZIK ZBIGNIEW,KIERZKOWO,M,PAŁUKI RUNNING TEAM,1991,00:32:57
2,TOMASZEWSKI MACIEJ,TORUŃ,M,TASMAN TEAM,1988,00:33:04
3,JUREK ŁUKASZ,JANIKOWO,M,STOWARZYSZENIE SIŁA,1989,00:33:57
4,STANISZEWSKI SŁAWOMIR,ŻNIN,M,PAŁUKI RUNNING TEAM,1989,00:35:23
...,...,...,...,...,...,...
159,BONIECKA TERESA,RYPIN,K,RKS LECH RYPIN,1974,01:11:07
160,KRZYŻANIAK BOGDAN,ZAKRZEWO,M,None,1961,01:11:39
161,BŁASZCZAK STANISŁAW,SKEPE,M,WKB MARATOŃCZYK WŁOCŁAWEK,1946,01:12:43
162,LENC JANUSZ,BYDGOSZCZ,M,TKKF KOLEJARZ BYDGOSZCZ,1953,01:23:40
163,ANGIEL WŁADYSŁAW,BYDGOSZCZ,M,TKKF KOLEJARZ BYDGOSZCZ,1937,01:32:13

## Lisewo

In [5]:
lisewo = pd.read_csv('lisewo.csv')
lisewo['name'] = (lisewo['Last_Name'] + ' ' + lisewo['First_Name']).str.upper()
lisewo['city'] = lisewo['City'].str.upper()
lisewo['team'] = lisewo['Club'].str.upper()
lisewo['year_of_birth'] = lisewo['Birth_Year']
lisewo['result_lisewo'] = '0' + lisewo['Net_Time']
lisewo['gender'] = lisewo['Category'].str[:1]
lisewo = lisewo[['name', 'city', 'team', 'year_of_birth', 'result_lisewo', 'gender']]


fixes = [
    ('team', 'SOŁTYS', 'SOŁTYS SUCHARZEWO'),
    ('team', 'WATAHA ŁĄCZY NAS BIEGANIE', 'WATAHA - ŁĄCZY NAS BIEGANIE'),
    ('team', 'RKS LECH RPIN', 'RKS LECH RYPIN'),
    ('team', 'TG SOKÓŁ', 'TG SOKÓŁ GNIEWKOWO'),
    ('team', 'T.G.SOKÓŁ GNIEWKOWO', 'TG SOKÓŁ GNIEWKOWO'),
    ('team', 'ZAKOLATEAM', '#ZAKOLATEAM'),
    ('team', 'KUNA TEAM', 'KUNA TEAM WŁOCŁAWEK'),
    ('team', 'WATAHA ŁĄCZY NAS BIEGANIE', 'WATAHA - ŁĄCZY NAS BIEGANIE'),
    ('team', 'T G SOKÓŁ GNIEWKOWO', 'TG SOKÓŁ GNIEWKOWO'),
    ('city', 'WLOCLAWEK', 'WŁOCŁAWEK'),
    ('city', 'WŁOCŁAWK', 'WŁOCŁAWEK'),
    ('city', 'TORUN', 'TORUŃ'),
    ('name', 'ABDALLA HUSSEIN', 'HUSSEIN ABDALLA'),
    ('name', 'ŻUCHOWSKI JOZEF', 'ŻUCHOWSKI JÓZEF'),
    ('name', 'MATUSZEWSKA ELZBIETA', 'MATUSZEWSKA ELŻBIETA'),
]
for field, from_, to_ in fixes:
    lisewo.loc[lisewo[field] == from_, field] = to_

lisewo

,name,city,team,year_of_birth,result_lisewo,gender
0,TOMASZEWSKI MACIEJ,TORUŃ,TASMAN TEAM,1988,00:33:15,M
1,PIASECKI KRZYSZTOF,WŁOCŁAWEK,KUNA TEAM WŁOCŁAWEK,1988,00:35:50,M
2,KUNECKI DARIUSZ,WŁOCŁAWEK,KUNA TEAM WŁOCŁAWEK,1984,00:36:02,M
3,SIKUT MICHAŁ,TORUŃ,ZALEWSKI PERFORMANCE ACADEMY,1995,00:36:44,M
4,KWASIBORSKI PATRYK,ROŚCISZEWO,GKS FABIANKI,1996,00:36:53,M
...,...,...,...,...,...,...
164,BONIECKA TERESA,RADOMIN,RKS LECH RYPIN,1974,01:11:31,K
165,BŁASZCZAK STANISŁAW,SKĘPE,WKB MARATOŃCZYK WŁOCŁAWEK,1946,01:14:28,M
166,BIAŁOBRZESKA EWA MARLENA,RUSINOWO,RKS LECH RYPIN,1961,01:19:55,K
167,GERKA KRZYSZTOF,BRZUZE,RKS LECH RYPIN,1957,01:19:51,M
168,MĄCZKA MAŁGORZATA,TORUŃ,PARKRUN TORUŃ,1961,01:21:05,K

## Piotrków

In [6]:
piotrkow = pd.read_csv('piotrkow.txt', sep='\t', names=['c0', 'c1', 'name', 'category', 'c2', 'team', 'result_piotrkow'])
piotrkow = piotrkow[['name', 'category', 'team', 'result_piotrkow']]
piotrkow['gender'] = piotrkow['category'].str.slice(0, 1)
piotrkow['name'] = piotrkow['name'].str.upper()
piotrkow['team'] = piotrkow['team'].str.upper()

fixes = [
    ('team', 'GKS FABIANKI.', 'GKS FABIANKI'),
    ('team', 'T G SOKÓŁ GNIEWKOWO', 'TG SOKÓŁ GNIEWKOWO'),
    ('team', 'GKS FABIANKI / UMT TORUŃ', 'GKS FABIANKI'),
    ('team', 'PAŁUKI RUNING TEAM', 'PAŁUKI RUNNING TEAM'),
    ('team', 'KS ZRYW', 'KS ZRYW RADZIEJÓW'),
    ('team', 'ZAKOLATEAM', '#ZAKOLATEAM'),
    ('team', 'PARKRUN', 'PARKRUN TORUŃ'),
    ('team', 'ZRYW RADZIEJÓW', 'KS ZRYW RADZIEJÓW'),
    ('name', 'KUDLA AGNIESZKA', 'KUDŁA AGNIESZKA'),
    ('name', 'BŁASZCZAK STANISLAW', 'BŁASZCZAK STANISŁAW'),
]
for field, from_, to_ in fixes:
    piotrkow.loc[piotrkow[field] == from_, field] = to_

piotrkow

,name,category,team,result_piotrkow,gender
0,KLEDZIK ZBIGNIEW,M30,PAŁUKI RUNNING TEAM,00:32:40,M
1,TOMASZEWSKI MACIEJ,M30,TASMAN TEAM,00:32:54,M
2,JANKOWIAK DAREK,M30,CARSEKT,00:34:17,M
3,PIASECKI KRZYSZTOF,M30,KUNA TEAM WŁOCŁAWEK,00:35:07,M
4,GRUDZIŃSKI MACIEJ,M30,WKB MARATOŃCZYK WŁOCŁAWEK,00:35:31,M
...,...,...,...,...,...
218,SPIBIDA KLAUDIA,K30,EKONSTAL,01:24:00,K
219,KURDUPSKA ILONA,K30,BYTOŃ,01:24:01,K
220,LENC JANUSZ,M70,TKKF KOLEJARZ BYDGOSZCZ,01:26:58,M
221,GERKA KRZYSZTOF,M60,RKS LECH RYPIN,01:27:00,M
222,ANGIEL WŁADYSŁAW,M80+,TKKF KOLEJARZ BYDGOSZCZ,01:29:52,M

## Merge

In [7]:
after_2 = janowiec.merge(fabianki, on=['name', 'gender'], how='outer', suffixes=('_janowiec', '_fabianki'))

In [8]:
after_2[after_2['team_janowiec'].notnull() & after_2['team_fabianki'].notnull() & (after_2['team_janowiec'] != after_2['team_fabianki'])]

,name,city,gender,category_janowiec,team_janowiec,year_of_birth,result_janowiec,category_fabianki,team_fabianki,result_fabianki
72,GRABARSKA MAGDALENA,BRZOZÓWKA,K,K30,TRACK GANG TORUŃ,1986.0,00:47:21,K30,BRZOZÓWKA,00:45:24
118,KARPIŃSKI PAWEŁ,GOLUB-DOBRZYŃ,M,M20,ZAKOLATEAMFAMILIA,1996.0,00:39:14,M16,#ZAKOLATEAM,00:38:35
320,TOMASZEWSKI WOJCIECH,TORUŃ,M,M60,START TEAM WĄBRZEŹNO,1964.0,00:41:14,M60,TASMAN TEAM,00:39:40

In [9]:
after_2[after_2['category_janowiec'].notnull() & after_2['category_fabianki'].notnull() & (after_2['category_janowiec'] != after_2['category_fabianki'])]

,name,city,gender,category_janowiec,team_janowiec,year_of_birth,result_janowiec,category_fabianki,team_fabianki,result_fabianki
118,KARPIŃSKI PAWEŁ,GOLUB-DOBRZYŃ,M,M20,ZAKOLATEAMFAMILIA,1996.0,00:39:14,M16,#ZAKOLATEAM,00:38:35
234,PIETRZAK MICHAŁ,WŁOCŁAWEK,M,M20,KUNA TEAM WŁOCŁAWEK,2005.0,00:36:42,M16,KUNA TEAM WŁOCŁAWEK,00:36:28

In [10]:
after_2['team'] = after_2['team_fabianki'].combine_first(after_2['team_janowiec'])
after_2['category'] = after_2['category_fabianki'].combine_first(after_2['category_janowiec'])
after_2 = after_2.drop(labels=['category_janowiec', 'team_janowiec', 'category_fabianki', 'team_fabianki'], axis=1)
after_2['year_of_birth'] = after_2['year_of_birth'].astype('Int64')

#### Radziejów

In [11]:
after_3 = after_2.merge(radziejow, on=['name', 'gender'], how='outer', suffixes=('_m', '_radziejow'))
after_3['year_of_birth_radziejow'] = after_3['year_of_birth_radziejow'].astype('Int64')
after_3

,name,city_m,gender,year_of_birth_m,result_janowiec,result_fabianki,team_m,category,city_radziejow,team_radziejow,year_of_birth_radziejow,result_radziejow
0,ABRAMOWSKI DAMIAN,ŻNIN,M,1991,00:37:45,NaN,TT SODA,M30,NaN,NaN,<NA>,NaN
1,ADAMSKA ANNA,KŁECKO,K,1985,00:57:09,NaN,LECHITA BIEGA KŁECKO,K40,NaN,NaN,<NA>,NaN
2,ADAMSKA IZABELA,JANOWIEC WIELKOPOLSKI,K,1985,00:47:33,NaN,None,K40,NaN,NaN,<NA>,NaN
3,ADAMSKI ADAM,ŻNIN,M,1986,00:47:48,NaN,None,M30,NaN,NaN,<NA>,NaN
4,ANDELBRAT BEATA,NaN,K,<NA>,NaN,01:18:33,GRUDZIADZ,K50,NaN,NaN,<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
443,ŚWIĘCICKI ANDRZEJ,BYDGOSZCZ,M,1973,00:50:43,NaN,BYDGOSKIE ŻÓŁWIE,M50,NaN,NaN,<NA>,NaN
444,ŻABIŃSKI RADOSŁAW,NaN,M,<NA>,NaN,NaN,NaN,NaN,WŁOCŁAWEK,WKB MARATOŃCZYK WŁOCŁAWEK,1986,00:51:21
445,ŻUCHOWSKI BARTOSZ,NaN,M,<NA>,NaN,00:37:34,PŁONNE,M16,PŁONNE,None,1996,00:38:12
446,ŻUCHOWSKI JÓZEF,PŁONNE,M,1971,00:41:23,00:40:08,EKO-OPAŁ PŁONNE,M50,NaN,NaN,<NA>,NaN
447,ŻYŁKOWSKA KRYSTYNA,TORUŃ,K,1960,00:54:14,00:54:39,PARKRUN TORUŃ,K60,TORUŃ,PARKRUN TORUŃ,1960,00:54:40

In [12]:
after_3[after_3['team_m'].notnull() & after_3['team_radziejow'].notnull() & (after_3['team_m'] != after_3['team_radziejow'])]

,name,city_m,gender,year_of_birth_m,result_janowiec,result_fabianki,team_m,category,city_radziejow,team_radziejow,year_of_birth_radziejow,result_radziejow
233,MECHLIŃSKI BARTŁOMIEJ,NaN,M,<NA>,NaN,00:37:00,TORUŃ,M40,TORUŃ,BANANOWY WOJOWNIK,1979,00:37:35

In [13]:
after_3[after_3['year_of_birth_radziejow'].notnull() & after_3['year_of_birth_m'].notnull() & (after_3['year_of_birth_radziejow'] != after_3['year_of_birth_m'])]

Empty DataFrame
Columns: [name, city_m, gender, year_of_birth_m, result_janowiec, result_fabianki, team_m, category, city_radziejow, team_radziejow, year_of_birth_radziejow, result_radziejow]
Index: []

In [14]:
after_3[after_3['city_radziejow'].notnull() & after_3['city_m'].notnull() & (after_3['city_radziejow'] != after_3['city_m'])]

,name,city_m,gender,year_of_birth_m,result_janowiec,result_fabianki,team_m,category,city_radziejow,team_radziejow,year_of_birth_radziejow,result_radziejow
89,GRUDZIŃSKI MACIEJ,ŁÓDŹ,M,1986,00:37:13,NaN,WKB MARATOŃCZYK WŁOCŁAWEK,M30,WŁOCŁAWEK,WKB MARATOŃCZYK WŁOCŁAWEK,1986,00:36:15
104,HUSSEIN ABDALLA,ODOLION,M,1987,00:44:03,NaN,PARKRUN TORUŃ,M30,KONRADOWO,PARKRUN TORUŃ,1987,00:41:50
105,HUSSEIN ANNA,ODOLION,K,1981,00:51:12,NaN,PARKRUN TORUŃ,K40,KONRADOWO,PARKRUN TORUŃ,1981,00:49:09

In [15]:
after_3['team'] = after_3['team_radziejow'].combine_first(after_3['team_m'])
after_3['year_of_birth'] = after_3['year_of_birth_radziejow'].combine_first(after_3['year_of_birth_m'])
after_3['city'] = after_3['city_radziejow'].combine_first(after_3['city_m'])
after_3 = after_3.drop(labels=['team_radziejow', 'team_m', 'year_of_birth_radziejow', 'year_of_birth_m', 'city_radziejow', 'city_m'], axis=1)

### Lisewo

In [16]:
after_4 = after_3.merge(lisewo, on=['name', 'gender'], how='outer', suffixes=('_m', '_lisewo'))
after_4['year_of_birth_lisewo'] = after_4['year_of_birth_lisewo'].astype('Int64')
after_4

,name,gender,result_janowiec,result_fabianki,category,result_radziejow,team_m,year_of_birth_m,city_m,city_lisewo,team_lisewo,year_of_birth_lisewo,result_lisewo
0,ABRAMOWSKI DAMIAN,M,00:37:45,NaN,M30,NaN,TT SODA,1991,ŻNIN,NaN,NaN,<NA>,NaN
1,ADAMSKA ANNA,K,00:57:09,NaN,K40,NaN,LECHITA BIEGA KŁECKO,1985,KŁECKO,NaN,NaN,<NA>,NaN
2,ADAMSKA IZABELA,K,00:47:33,NaN,K40,NaN,None,1985,JANOWIEC WIELKOPOLSKI,NaN,NaN,<NA>,NaN
3,ADAMSKI ADAM,M,00:47:48,NaN,M30,NaN,None,1986,ŻNIN,NaN,NaN,<NA>,NaN
4,ANDELBRAT BEATA,K,NaN,01:18:33,K50,NaN,GRUDZIADZ,<NA>,NaN,NaN,NaN,<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,ŚWIĘCICKI ANDRZEJ,M,00:50:43,NaN,M50,NaN,BYDGOSKIE ŻÓŁWIE,1973,BYDGOSZCZ,NaN,NaN,<NA>,NaN
528,ŻABIŃSKI RADOSŁAW,M,NaN,NaN,NaN,00:51:21,WKB MARATOŃCZYK WŁOCŁAWEK,1986,WŁOCŁAWEK,NaN,NaN,<NA>,NaN
529,ŻUCHOWSKI BARTOSZ,M,NaN,00:37:34,M16,00:38:12,PŁONNE,1996,PŁONNE,NaN,NaN,<NA>,NaN
530,ŻUCHOWSKI JÓZEF,M,00:41:23,00:40:08,M50,NaN,EKO-OPAŁ PŁONNE,1971,PŁONNE,RADOMIN,NaN,1971,00:41:41
531,ŻYŁKOWSKA KRYSTYNA,K,00:54:14,00:54:39,K60,00:54:40,PARKRUN TORUŃ,1960,TORUŃ,TORUŃ,PARKRUN TORUŃ,1960,00:57:40

In [17]:
after_4[after_4['team_m'].notnull() & after_4['team_lisewo'].notnull() & (after_4['team_m'] != after_4['team_lisewo'])]

,name,gender,result_janowiec,result_fabianki,category,result_radziejow,team_m,year_of_birth_m,city_m,city_lisewo,team_lisewo,year_of_birth_lisewo,result_lisewo
112,GRABARSKA MAGDALENA,K,00:47:21,00:45:24,K30,NaN,BRZOZÓWKA,1986,BRZOZÓWKA,BRZOZÓWKA,TRACK GANG,1986,00:47:48
404,STAWARSKA ELŻBIETA,K,00:49:31,00:47:01,K40,00:48:28,TORUŃ,1977,TORUŃ,TORUŃ,GP,1977,00:49:52

In [18]:
after_4[after_4['year_of_birth_lisewo'].notnull() & after_4['year_of_birth_m'].notnull() & (after_4['year_of_birth_lisewo'] != after_4['year_of_birth_m'])]

Empty DataFrame
Columns: [name, gender, result_janowiec, result_fabianki, category, result_radziejow, team_m, year_of_birth_m, city_m, city_lisewo, team_lisewo, year_of_birth_lisewo, result_lisewo]
Index: []

In [19]:
after_4[after_4['city_lisewo'].notnull() & after_4['city_m'].notnull() & (after_4['city_lisewo'] != after_4['city_m'])]

,name,gender,result_janowiec,result_fabianki,category,result_radziejow,team_m,year_of_birth_m,city_m,city_lisewo,team_lisewo,year_of_birth_lisewo,result_lisewo
28,BONIECKA TERESA,K,01:14:12,01:10:23,K50,01:11:07,RKS LECH RYPIN,1974,RYPIN,RADOMIN,RKS LECH RYPIN,1974,01:11:31
42,BŁASZCZAK STANISŁAW,M,NaN,01:12:55,M70,01:12:43,WKB MARATOŃCZYK WŁOCŁAWEK,1946,SKEPE,SKĘPE,WKB MARATOŃCZYK WŁOCŁAWEK,1946,01:14:28
60,CZERENKIEWICZ-PAŁUCKA JOANNA,K,00:50:02,00:49:15,K50,00:49:53,KUNA TEAM WŁOCŁAWEK,1975,WŁOCŁAWEK,BRZEŚĆ KUJ.,KUNA TEAM WŁOCŁAWEK,1975,00:51:07
61,CZERWIŃSKI KRZYSZTOF,M,NaN,00:37:51,M16,00:38:18,WKB MARATOŃCZYK WŁOCŁAWEK,1996,OSNO,CIECHOCINEK,WKB MARATOŃCZYK WŁOCŁAWEK,1996,00:39:37
93,DĘBSKI JAN,M,00:59:06,00:57:49,M70,00:59:44,SOŁTYS SUCHARZEWO,1952,SUCHARZEWO,DĄBROWA,SOŁTYS SUCHARZEWO,1952,01:00:24
104,GERKA KRZYSZTOF,M,NaN,01:09:56,M60,01:10:21,RKS LECH RYPIN,1957,RYPIN,BRZUZE,RKS LECH RYPIN,1957,01:19:51
210,KOTUŁA PAWEŁ,M,NaN,NaN,NaN,00:45:00,START TEAM WĄBRZEŹNO,1979,TRZCIANO,RYŃSK,START TEAM WĄBRZEŹNO,1979,00:40:28
244,KWASIBORSKI PATRYK,M,NaN,00:35:10,M16,00:36:17,GKS FABIANKI,1996,NOWE ROŚCISZEWO,ROŚCISZEWO,GKS FABIANKI,1996,00:36:53
310,OLSZEWSKI ADAM,M,NaN,00:50:25,M60,00:53:00,RKS LECH RYPIN,1963,BRZUZE,ROGOWO,NaN,1963,00:53:29
370,ROSIŃSKA ANNA,K,NaN,NaN,NaN,00:54:50,NaN,1992,SZEWCE 33,PIOTRKÓW KUJAWSKI,NaN,1992,00:59:15
530,ŻUCHOWSKI JÓZEF,M,00:41:23,00:40:08,M50,NaN,EKO-OPAŁ PŁONNE,1971,PŁONNE,RADOMIN,NaN,1971,00:41:41

In [20]:
after_4['team'] = after_4['team_lisewo'].combine_first(after_4['team_m'])
after_4['year_of_birth'] = after_4['year_of_birth_lisewo'].combine_first(after_4['year_of_birth_m'])
after_4['city'] = after_4['city_lisewo'].combine_first(after_4['city_m'])
after_4 = after_4.drop(labels=['team_lisewo', 'team_m', 'year_of_birth_lisewo', 'year_of_birth_m', 'city_lisewo', 'city_m'], axis=1)

### Piotrków

In [21]:
after_5 = after_4.merge(piotrkow, on=['name', 'gender'], how='outer', suffixes=('_m', '_piotrkow'))
after_5

,name,gender,result_janowiec,result_fabianki,category_m,result_radziejow,result_lisewo,team_m,year_of_birth,city,category_piotrkow,team_piotrkow,result_piotrkow
0,ABRAMOWSKI DAMIAN,M,00:37:45,NaN,M30,NaN,NaN,TT SODA,1991,ŻNIN,NaN,NaN,NaN
1,ADAMKIEWICZ SŁAWOMIR,M,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,M50,SGB TEAM,00:48:21
2,ADAMSKA ANNA,K,00:57:09,NaN,K40,NaN,NaN,LECHITA BIEGA KŁECKO,1985,KŁECKO,NaN,NaN,NaN
3,ADAMSKA IZABELA,K,00:47:33,NaN,K40,NaN,NaN,None,1985,JANOWIEC WIELKOPOLSKI,NaN,NaN,NaN
4,ADAMSKI ADAM,M,00:47:48,NaN,M30,NaN,NaN,None,1986,ŻNIN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,ŚWIĘCICKI ANDRZEJ,M,00:50:43,NaN,M50,NaN,NaN,BYDGOSKIE ŻÓŁWIE,1973,BYDGOSZCZ,NaN,NaN,NaN
619,ŻABIŃSKI RADOSŁAW,M,NaN,NaN,NaN,00:51:21,NaN,WKB MARATOŃCZYK WŁOCŁAWEK,1986,WŁOCŁAWEK,NaN,NaN,NaN
620,ŻUCHOWSKI BARTOSZ,M,NaN,00:37:34,M16,00:38:12,NaN,PŁONNE,1996,PŁONNE,NaN,NaN,NaN
621,ŻUCHOWSKI JÓZEF,M,00:41:23,00:40:08,M50,NaN,00:41:41,EKO-OPAŁ PŁONNE,1971,RADOMIN,NaN,NaN,NaN
622,ŻYŁKOWSKA KRYSTYNA,K,00:54:14,00:54:39,K60,00:54:40,00:57:40,PARKRUN TORUŃ,1960,TORUŃ,K60,PARKRUN TORUŃ,00:56:33

In [22]:
after_5[after_5['team_m'].notnull() & after_5['team_piotrkow'].notnull() & (after_5['team_m'] != after_5['team_piotrkow'])]

,name,gender,result_janowiec,result_fabianki,category_m,result_radziejow,result_lisewo,team_m,year_of_birth,city,category_piotrkow,team_piotrkow,result_piotrkow
331,MECHLIŃSKI BARTŁOMIEJ,M,NaN,00:37:00,M40,00:37:35,NaN,BANANOWY WOJOWNIK,1979,TORUŃ,M40,TORUŃ,00:37:03
472,STAWARSKA ELŻBIETA,K,00:49:31,00:47:01,K40,00:48:28,00:49:52,GP,1977,TORUŃ,K40,TORUŃ,00:50:17
588,WĄŻ SŁAWOMIR,M,NaN,NaN,NaN,NaN,00:59:40,KLUB SPORTOWY PADALEC,1972,GRĘBOCIN,M50,WOLLT IHR DAS BETT IN FLAMMEN SEHEN,01:06:55

In [23]:
after_5['team'] = after_5['team_piotrkow'].combine_first(after_5['team_m'])
after_5['city'] = after_5['category_piotrkow'].combine_first(after_5['category_m'])
after_5 = after_5.drop(labels=['team_piotrkow', 'team_m', 'category_piotrkow', 'category_m'], axis=1)

# Test

In [24]:
final = after_5
final[final['team'] == 'PARKRUN TORUŃ']

,name,gender,result_janowiec,result_fabianki,result_radziejow,result_lisewo,year_of_birth,city,result_piotrkow,team
10,BAJEŃSKI DARIUSZ,M,NaN,NaN,00:48:21,NaN,1993,M30,00:49:32,PARKRUN TORUŃ
18,BARWIŃSKI LESZEK,M,NaN,00:42:45,NaN,NaN,<NA>,M50,NaN,PARKRUN TORUŃ
64,CZAJKOWSKI KAMIL,M,NaN,NaN,NaN,00:48:29,1996,NaN,NaN,PARKRUN TORUŃ
75,DEPERAS ALEKSANDER,M,NaN,00:37:30,00:38:44,00:39:44,1984,M40,NaN,PARKRUN TORUŃ
100,DZIEŁAK ANDRZEJ,M,NaN,NaN,NaN,00:53:05,1969,NaN,NaN,PARKRUN TORUŃ
105,DĘBICKI MACIEJ,M,00:42:30,NaN,00:42:35,NaN,1993,M30,NaN,PARKRUN TORUŃ
114,FRĄK EDYTA,K,00:42:55,00:41:41,00:42:45,NaN,1988,K30,00:42:57,PARKRUN TORUŃ
127,GOŁĘBIEWSKI MICHAŁ,M,NaN,00:40:41,00:42:24,00:43:51,1983,M40,00:42:39,PARKRUN TORUŃ
143,GUTTFELD IGOR,M,00:39:45,00:39:24,NaN,NaN,1967,M50,NaN,PARKRUN TORUŃ
145,GÓRSKI MICHAŁ,M,NaN,00:48:25,00:52:26,00:55:47,1991,M30,NaN,PARKRUN TORUŃ
155,HUSSEIN ABDALLA,M,00:44:03,NaN,00:41:50,00:42:40,1987,M30,00:41:58,PARKRUN TORUŃ
156,HUSSEIN ANNA,K,00:51:12,NaN,00:49:09,00:51:16,1981,K40,00:49:53,PARKRUN TORUŃ
165,JANECZKO KATARZYNA,K,00:51:28,00:50:36,00:51:54,00:52:06,1982,K40,00:52:10,PARKRUN TORUŃ
167,JANISZEWSKI DARIUSZ,M,00:59:55,NaN,00:51:43,NaN,1973,M50,00:50:58,PARKRUN TORUŃ
179,JAWORSKI JAROSŁAW,M,NaN,NaN,00:47:06,00:48:34,1971,M50,00:47:28,PARKRUN TORUŃ
197,KACZOROWSKA ANNA,K,NaN,NaN,NaN,00:56:26,1981,NaN,NaN,PARKRUN TORUŃ
250,KOZICKI ROMAN,M,NaN,NaN,NaN,00:48:39,1967,NaN,NaN,PARKRUN TORUŃ
277,KUDŁA AGNIESZKA,K,NaN,NaN,NaN,NaN,<NA>,K40,00:53:05,PARKRUN TORUŃ
291,KWIECIEŃ MAŁGORZATA,K,00:41:20,00:40:04,00:40:30,00:42:06,1987,K30,00:40:23,PARKRUN TORUŃ
308,LUBISZEWSKI ROBERT,M,00:47:27,00:46:23,00:48:23,NaN,1990,M30,00:49:18,PARKRUN TORUŃ
340,MOLTZAN ŁUKASZ,M,NaN,00:46:28,NaN,NaN,<NA>,M40,NaN,PARKRUN TORUŃ
347,MĄCZKA MAŁGORZATA,K,NaN,01:18:25,NaN,01:21:05,1961,K60,NaN,PARKRUN TORUŃ
348,MĄCZKA ZBIGNIEW,M,00:48:32,00:46:19,00:47:46,00:50:22,1957,M60,00:46:50,PARKRUN TORUŃ
369,OLSZEWSKI KAROL,M,00:43:21,00:41:48,00:42:17,00:43:49,1982,M40,00:45:12,PARKRUN TORUŃ
388,PAZDERSKA MAŁGORZATA,K,00:44:17,00:42:41,00:43:09,00:44:18,1985,K40,00:43:26,PARKRUN TORUŃ
431,ROK-SZPALA SYLWIA,K,NaN,00:40:49,NaN,NaN,<NA>,K40,00:41:24,PARKRUN TORUŃ
441,RZĄD SZYMON,M,NaN,NaN,NaN,NaN,<NA>,M18,00:44:03,PARKRUN TORUŃ
478,STRZELECKI MARIUSZ,M,00:42:13,00:40:21,00:42:46,00:43:37,1987,M30,00:42:40,PARKRUN TORUŃ
486,SZARWIŃSKI MARIUSZ,M,NaN,00:42:06,00:41:06,00:41:40,1987,M30,NaN,PARKRUN TORUŃ
520,SŁUNIECKI TOMASZ,M,00:43:40,00:41:42,00:42:46,00:44:10,1975,M50,00:43:19,PARKRUN TORUŃ
539,TWAROWSKI ARKADIUSZ,M,NaN,NaN,NaN,00:47:24,1978,M40,00:46:40,PARKRUN TORUŃ
547,WALKOWIAK KRZYSZTOF,M,NaN,00:50:52,00:50:44,00:52:37,1990,M30,00:52:57,PARKRUN TORUŃ
567,WIŚNIEWSKA DANIELA,K,NaN,00:52:02,NaN,NaN,<NA>,K40,00:54:59,PARKRUN TORUŃ
576,WOJCIECHOWSKI PRZEMYSŁAW,M,00:40:40,00:39:56,00:40:19,NaN,1985,M40,00:40:15,PARKRUN TORUŃ
577,WOJEWODA TOMASZ,M,NaN,00:38:10,NaN,00:39:52,1983,M40,00:39:58,PARKRUN TORUŃ
585,WYSOCKI DARIUSZ,M,NaN,NaN,NaN,00:44:47,1986,M30,00:43:00,PARKRUN TORUŃ
604,ZIÓŁKOWSKI GRZEGORZ,M,00:42:52,00:41:40,00:43:57,00:44:08,1985,M40,00:45:33,PARKRUN TORUŃ
622,ŻYŁKOWSKA KRYSTYNA,K,00:54:14,00:54:39,00:54:40,00:57:40,1960,K60,00:56:33,PARKRUN TORUŃ

In [25]:
sorted(final[final['team'].notnull()]['team'].unique())

['#SLIMAKIBARCIN',
 '#WKTM',
 '#ZAKOLATEAM',
 '-',
 '---',
 'AKTYWNE LISEWO',
 'ALBO GRUBO ALBO WCALE',
 'ALTOM GNIEZNO',
 'AMATEUR RUNNERS WŁOCŁAWEK',
 'ANIRO RUN TEAM',
 'BACHORZEWO',
 'BANALNY TRENER',
 'BANICI ULTRA ADVENTURE',
 'BANK SPÓŁDZIELCZY W BRODNICY',
 'BBL INOWROCŁAW',
 'BENEDEK-TEAM',
 'BIAŁE BŁOTA',
 'BIEGAM BO LUBIĘ',
 'BIEGAMY LEKKĄ NÓŻKĄ',
 'BIEGOWI PRZYJACIELE',
 'BOBROWNIKI',
 'BRODNICA BIEGA',
 'BSPK BANK TEAM',
 'BYDGOSKIE ŻÓŁWIE',
 'BYDGOSZCZ',
 'BYDGOSZCZ NA START',
 'BYTOŃ',
 'BĄDKOWO',
 'CARSEKT',
 'CHOCEŃ',
 'CICHA GÓRA',
 'CYBORGI',
 'DECATHLON TEAM INOWROCŁAW',
 'DIABELSKIE PIORUNY',
 'DOBRZYŃ NAD WISŁĄ',
 'DREAM TEAM CHAWŁODNO',
 'EKO-OPAŁ PŁONNE',
 'EKONSTAL',
 'ERKA RUN TEAM',
 'FABIANKI',
 'FUNDACJA SODA',
 'GDAŃSK',
 'GKS FABIANKI',
 'GLIWEK',
 'GNIEWKOWO',
 'GOLINA',
 'GP CROSS CHEŁMŻA',
 'GRUDZIADZ',
 'INOWROCŁAW',
 'JACKASS',
 'JANIKOWO',
 'JANOWY MŁYN',
 'KARNKOWO',
 'KB GEOTERMIA UNIEJÓW',
 'KB JESTEM OD ROMKA',
 'KB MANIAC POZNAŃ',
 'KB MARATON TUREK',
 'KLECZEW',
 'KONIN',
 'KORNELIUSZ SERWIS KOMPUTEROWY',
 'KROJCZYN',
 'KRUSZWICA',
 'KS LZS KRUSZWICA',
 'KS SOKÓŁ GĄSAWA',
 'KS SZOSA ŻNIN',
 'KS ZRYW RADZIEJÓW',
 'KSZYŻTOW',
 'KUJAWSKO-POMORSKIE',
 'KUNA TEAM WŁOCŁAWEK',
 'LECHITA BIEGA KŁECKO',
 'LIFE BALANCE PLACE AND DEAF',
 'LINGUA PRO BYDGOSZCZ',
 'LIPNO',
 'LKS SPARTA JANOWIEC WLKP',
 'LZS JASTRZĘBIE',
 'MALINOWSCY MIGLASST TEAM',
 'MAŁKINIA GÓRNA',
 'MIASTOAKTYWNI',
 'MOGILNO TEAM',
 'NAKŁO NAD NOTECIĄ',
 'NIEZRZESZONY',
 'NOWA WIEŚ',
 'OLD SNAKE',
 'OSTROWSKI TEAM ŻNIN',
 'PACIFIC NESTLE',
 'PARKRUN TORUŃ',
 'PAŁUKI RUNNING TEAM',
 'PEPEGAS',
 'PIECHCIN',
 'PIOTRKÓW KUJAWSKI',
 'PODGÓRZ TORUŃ',
 'POGROM ZBÓJNO',
 'POLKRYS TEAM',
 'POWALENI',
 'POZNAŃ',
 'PRO366 POZNAŃ',
 'PRZEBIEGLI UNISŁAW I OKOLICE',
 'PĘDZĄCY GACUŚ',
 'PŁOCK',
 'PŁONKOWO',
 'PŁONNE',
 'QŁYNYCZ TEAM ROZBIEGANE TUCZNO',
 'RADOMICE',
 'RADZIEJÓW',
 'RAKIETA ZAMOŚĆ',
 'RAMADASA-STREFA RELAKSU',
 'RKS LECH RYPIN',
 'ROGIEWICZ RUNNING TEAM',
 'ROZBIEGANA KRUSZWICA',
 'ROZBIEGANI LUBRANIEC',
 'RUDZK DUŻY',
 'RUNADDICTS',
 'SADLNO',
 'SAILING TEAM FERAJNA',
 'SCOTY',
 'SGB TEAM',
 'SKÓRZNO',
 'SOŁTYS SUCHARZEWO',
 'STAJNIAK TEAM',
 'STARA RUDA',
 'START TEAM WĄBRZEŹNO',
 'STARY RADZIEJÓW',
 'STOWARZYSZENIE SIŁA',
 'SZCZUTOWO BIEGA',
 'SZEWCE',
 'SZPETAL GÓRNY',
 'SĄ GORSI',
 'T. S. OPATRUNKI TORUŃ',
 'TALARKOWO',
 'TASMAN TEAM',
 'TEAM RUN NAKŁO NAD NOTECIĄ',
 'TEAM TERMINATORUN',
 'TEAMOCHAL',
 'TG SOKÓŁ GNIEWKOWO',
 'THE RUNNERS ŚWIECIE',
 'TKKF CHEŁMNO',
 'TKKF KOLEJARZ BYDGOSZCZ',
 'TKKF PŁOCK',
 'TORUŃ',
 'TOWARZYSTWO MIŁOŚNIKÓW TENISA SMECZ',
 'TRACK GANG',
 'TRACK GANG TORUŃ',
 'TRITON KONIN',
 'TSK ORZEŁ OSIEK',
 'TT SODA',
 'UKB SZUBIN',
 'UKS CYPRIANKA',
 'USKRZYDLENI',
 'VELUX MIELESZYN',
 'VERONIPACK',
 'VII LICEUM OGÓLNOKSZTAŁCĄCE W',
 'WATAHA - ŁĄCZY NAS BIEGANIE',
 'WATAHA L-PAAK',
 'WIELGIE',
 'WKB MARATOŃCZYK WŁOCŁAWEK',
 'WKB PIAST WROCŁAW',
 'WLOCLAWEK',
 'WOLLT IHR DAS BETT IN FLAMMEN SEHEN',
 'WROCŁAW',
 'WŁOCŁAWEK',
 'ZABIEGANI CZERNIKOWO',
 'ZALEWSKI PERFORMANCE ACADEMY',
 'ZESPÓŁ SZKÓŁ EKONOMICZNO LOGISTYCZNYCH',
 'ZIELONI WIERZBINEK',
 'ZMASAKROWANI',
 'ZSCKR W STARYM BRZEŚCIU',
 'ZŁOTNIKI KUJAWSKIE',
 'ŁABISZYN RUNNERS',
 'ŁAPA_TRI_RUN CREW',
 'ŁUBKI',
 'ŚWIESZ',
 'ŻKB ŻNIN',
 'ŻNIN']

## Save

In [26]:
def to_seconds(time_str):
    t = datetime.time.fromisoformat(time_str)
    return t.hour * 3600 + t.minute * 60 + t.second

def to_time_str(seconds):
    return datetime.datetime.fromtimestamp(seconds, datetime.UTC).strftime('%T')

def gp_round(n):
    if n - math.floor(n) < 0.5:
        return math.floor(n)
    return math.ceil(n)

def get_result(row):
    results = [row[col] for col in row.index if col.startswith('result_') and type(row[col]) == str]
    row['total_runs'] = len(results)
    best_6_runs = sorted([to_seconds(r) for r in results])[-6:]
    row['avg_result'] = gp_round(sum(best_6_runs) / len(best_6_runs))
    row['avg_result_str'] = to_time_str(row['avg_result'])
    return row

In [27]:
def get_category(row):
    if pd.isnull(row['year_of_birth']):
        return row

    if row['year_of_birth'] > year - 30:
        row['category'] = row['gender'] + '18'
    elif row['year_of_birth'] > year - 40:
        row['category'] = row['gender'] + '30'
    elif row['year_of_birth'] > year - 50:
        row['category'] = row['gender'] + '40'
    elif row['year_of_birth'] > year - 60:
        row['category'] = row['gender'] + '50'
    elif row['year_of_birth'] > year - 65:
        row['category'] = row['gender'] + '60'
    elif row['year_of_birth'] > year - 70:
        row['category'] = row['gender'] + '65'
    elif row['year_of_birth'] > year - 75:
        row['category'] = row['gender'] + '70'
    elif row['year_of_birth'] > year - 80:
        row['category'] = row['gender'] + '75'
    elif row['year_of_birth'] > year - 86:
        row['category'] = row['gender'] + '80'
    else:
        row['category'] = row['gender'] + '85'

    return row
        
gp = final.apply(get_result, axis=1)
gp['year_of_birth'] = gp['year_of_birth'].astype('Int64')
gp = gp.apply(get_category, axis=1)
gp

,avg_result,avg_result_str,category,city,gender,name,result_fabianki,result_janowiec,result_lisewo,result_piotrkow,result_radziejow,team,total_runs,year_of_birth
0,2265,00:37:45,M30,M30,M,ABRAMOWSKI DAMIAN,NaN,00:37:45,NaN,NaN,NaN,TT SODA,1,1991
1,2901,00:48:21,NaN,M50,M,ADAMKIEWICZ SŁAWOMIR,NaN,NaN,NaN,00:48:21,NaN,SGB TEAM,1,<NA>
2,3429,00:57:09,K40,K40,K,ADAMSKA ANNA,NaN,00:57:09,NaN,NaN,NaN,LECHITA BIEGA KŁECKO,1,1985
3,2853,00:47:33,K40,K40,K,ADAMSKA IZABELA,NaN,00:47:33,NaN,NaN,NaN,None,1,1985
4,2868,00:47:48,M30,M30,M,ADAMSKI ADAM,NaN,00:47:48,NaN,NaN,NaN,None,1,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,3043,00:50:43,M50,M50,M,ŚWIĘCICKI ANDRZEJ,NaN,00:50:43,NaN,NaN,NaN,BYDGOSKIE ŻÓŁWIE,1,1973
619,3081,00:51:21,M30,NaN,M,ŻABIŃSKI RADOSŁAW,NaN,NaN,NaN,NaN,00:51:21,WKB MARATOŃCZYK WŁOCŁAWEK,1,1986
620,2273,00:37:53,M18,M16,M,ŻUCHOWSKI BARTOSZ,00:37:34,NaN,NaN,NaN,00:38:12,PŁONNE,2,1996
621,2464,00:41:04,M50,M50,M,ŻUCHOWSKI JÓZEF,00:40:08,00:41:23,00:41:41,NaN,NaN,EKO-OPAŁ PŁONNE,3,1971
622,3333,00:55:33,K65,K60,K,ŻYŁKOWSKA KRYSTYNA,00:54:39,00:54:14,00:57:40,00:56:33,00:54:40,PARKRUN TORUŃ,5,1960

In [28]:
gp.to_sql(name='results', con=cnx, if_exists='replace', index_label='id')

623